*
{
  margin:0;
}
body{
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(244, 238, 238);
  background-color: antiquewhite;


}
.maincontainer
{
  background-color: black;
  width: 500px;
  height:55vh;
  border-radius: 15px   ;
}
.input{
  display: inline-block;
  width: 250px;
  height:40px;
  padding: 2px;
  margin: 5px;
  
  border: 1px solid #ccc;
  border-radius: .5rem;
  font-size:2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
select
{

  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  margin-top: 20px;
}
.equals
{
  font-size: 2rem;
  font-weight: bold;
}
.heading
{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
}
button{
width: 100px;
height: 40px;
border-radius: 5px;
margin-top: 40px;
}
